@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}
.main{
    background: url(../img/tech.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    color: azure;
    background-color: rgba(0, 0, 0, 0.7);
}
.title{
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 40px;
    text-align: center;
    /* color: rgb(222, 240, 62); */
    color: chartreuse;
    text-shadow: 2px 2px 5px chartreuse;
}
#end-date{
     font-size: 28px;
     font-weight: 600;
     padding-top: 20px;
     color: chocolate;
     text-shadow: 2px 2px 5px chocolate;
}
.col{
     display: flex;
     width: 800px;
     height: 100px;
     margin: 40px auto;
     justify-content: center;
}
.box{
     padding: 5px 20px;
     text-align: center;
}
input{
     width: 60%;
     height: 60px;
     font-size: 32px;
     font-weight: 500 ;
     margin-bottom: 10px;
     background-color: azure;
     text-align: center;
     border: transparent;
     border-radius: 10px;
}
label{
     color: azure;
     font-weight: 500;
}